/* Checkout Page Start here */
/*Checkout Page Css*/
.checkoutForm .custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color:#3e4296;
}
.checkoutForm .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #3e4296;
}
.checkoutForm {
    padding: 70px 0px;
}
.checkoutForm .custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color:#3e4296;
}
.checkout-btn{
    border-radius: 5px !important;
    background-color: #2393d1;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px !important;
    display: inline-block;
    margin-top: 0;
    width: max-content;
    width: fit-content;
}
.checkout-continue {
    text-align: center;
}
.checkout-btn:hover{
    background-color: #3e4296;
    color: #fff;
}
.custom-select{
    height: calc(2.25rem + 11px) !important;
}
/*Checkout Page Css*/


/* Checkout Page End here*/


/* Cart Page Start here */
section.cartForm {
    padding: 100px 0;
}
#cart.table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}
.cartForm #cart thead th {
    border: 1px solid #dee2e6 !important;
}
td.hidden-xs.text-center {
    padding-bottom: 0px !important;
    padding: 12px;
}
#quantity{
    text-align: center;
    width: 40px;
    padding: 0;
    height: 35px;
}
.glyphicon-minus:before {
    content: "\2212";
    color: white;
    font-size: 11px;
}
.glyphicon-plus:before {
    content: "\002b";
    color: white;
    font-size: 11px;
}
.borderRow {
    border: 1px solid #dee2e6 !important;
}
.borderRow td {
    border: 1px solid #dee2e6 !important;
}
.btn-danger:focus {
    box-shadow: none !important;
}
.btn-danger:focus {
    color: #fff;
    background-color: #c9302c !important;
    border-color: transparent !important;
    outline: none !important;
}
.btn-success:focus {
    box-shadow: none !important;
}
.btn-success:focus {
    color: #fff;
    background-color: #449d44 !important;
    border-color: transparent !important;
    outline: none !important;
}
.custom-control-label::after{
    position: absolute;
    top: .30rem;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-control-label::before{
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after{
    background-size: contain !important;
}
span.input-group-text {
    display: none;
}
[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after{
    top: 4px !important;
}
[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before{
    top: 4px !important;
}
.e-books-detals-related-books .fvrPackage .fvrPackageCol h4 strong{
    font-size: 17px !important;
    font-weight: 600 !important;
}
.quantity-left-minus{
    background-color: #2393d1 !important;
    border: 1px solid #2393d1 !important;
    line-height: 19px;
}
.quantity-right-plus{
    background-color: #2393d1 !important;
    border: 1px solid #2393d1 !important;
    line-height: 19px;
}
.quantity-left-minus:focus{
    background-color: #3e4296 !important;
}
.quantity-right-plus:focus{
    background-color: #3e4296 !important;
}
.cart-btn{
    border-radius: 5px !important;
    background-color: #2393d1;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px !important;
    display: inline-block;
    margin-top: 0;
    width: max-content;
    width: fit-content;
    outline: none !important;
    padding: 6px 22px !important;
}
.cart-btn:hover{
    background-color: #3e4296;
    color: #fff;
}
.redeem-btn{
    border-radius: 5px !important;
    background-color: #2393d1;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px !important;
    display: inline-block;
    margin-top: 0;
    width: max-content;
    width: fit-content;
}
.redeem-btn:hover{
    background-color: #3e4296;
    color: #fff;
    /* border: 1px solid #3e4296; */
}
.redeem-btn {
    outline: none !important;
    padding: 6px 22px !important;
}
.badge{
    padding: 7px 10px !important;
}
.fa-refresh:before {
    content: "\f021";
}
.fa-trash-o:before {
    content: "\f014";
}
/* Cart Page End here*/

